@model WebBanHangMyPham.Models.ViewModels.AppointmentDetailsViewModel
@using WebBanHangMyPham.Extensions
@using WebBanHangMyPham.Utility

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info"> Chỉnh sửa Appointment </h2>

<div class="p-4 border rounded row">
    <div class="col-6">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.TenKhachHang"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointment.TenKhachHang" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.EmailKhachHang"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointment.EmailKhachHang" disabled cla ss="form-control" />
            </div>
            <span asp-validation-for="Appointment.EmailKhachHang" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.NgayMuaHang"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointment.NgayMuaHang" disabled id="datepicker" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.GioMuaHang"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointment.GioMuaHang" disabled id="timepicker" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.SdtKhachHang"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointment.SdtKhachHang" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.NguoiBanHang"></label>
            </div>
            <div class="col-8">
                @if (User.IsInRole(SD.AdminEndUser))
                {
                    <input asp-for="@Model.Appointment.NguoiBanHang.Name" disabled class="form-control" />
                    <input asp-for="@Model.Appointment.NguoiBanHangId" hidden />
                }
                else
                {
                    <select asp-for="@Model.Appointment.NguoiBanHangId" disabled asp-items="Model.NguoiBanHang.ToSelectListItemString(Model.Appointment.NguoiBanHangId)" class="form-control"></select>
                }
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.XacNhan"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointment.XacNhan" disabled class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-6">
        @* Partial View *@
        <partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.SanPham" />
    </div>
    <br />
    <div class="form-group row">

    </div>
</div>


@section Scripts{

    <script>
        $(document).ready(function () {
            var appointmentTime = document.getElementById('datepicker').value;
            var splitData = "";
            if (appointmentTime.indexOf(" ") > 0) {
                splitData = appointmentTime.split(" ");
            }
            else {
                splitData = appointmentTime.split("T");
            }
            var time = splitData[1].substring(0, 5);
            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1);

            }
            var amPmTime = splitData[2];
            $('#datepicker').attr('value', spliData[0]);
            $('#timepicker').attr('value', time + ' ' + amPmTime);
        });

    </script>
}